body {
    font-size: 30px;
    text-align: center;
    background-color: rgb(24, 58, 58);
    color: rgb(139, 181, 226);
}

button {
    font-size: 50px;
    background-color: rgb(87, 158, 134);
    height: 100px;
    width: 600px;
    border: 10px;
    border-radius: 20px;
}

button:hover {
    background-color: rgb(37, 87, 87);
}